.picture-wrapper {
    margin: auto;
    display: block;
    text-align: center;
}

.food_picture{
    max-width:300px;
    height:100%; 
    width:100%; 
    padding-right:25px; 
}

.home_page{
    padding:50px;
    padding-bottom: 0px;
    position: relative; 
    
}

.round-div {
    padding: 5px;
    background-color: #000000;
    width: 9%;
    min-width: 125px;
    height: 31px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px #4B4B4B;
    border-radius: 20px;
}

.button-nav{
    display: block;
}

.button-nav:hover{
    text-decoration: none;
    color: #fff;
    background-color: #FF7856;
    cursor: pointer;
}