.about_article{
    padding:50px;
    padding-bottom: 0px;
    position: relative;
}

.centerer {
    margin: auto;
    display: block;
    text-align: center;
    max-width: 100%;
}

section {
	padding-bottom: 30px;
}

.cit {
	max-width: 300px;
}